<!-- <p>admindashboard works!</p> -->
<div class="row" style="height: 40px;background-color: rgb(57, 124, 184);">
    <a routerLink="/products">
        <img style="width: 120px;height: 30px;padding-top: 10px;padding-left: 20px;" src="../../../assets/fklogo.png">
    </a>
</div>

<div class="cont">
    <button>
        <a routerLink="/admindashboard/addproducts">ADD PRODUCTS</a>
    </button>
    <button>
        <a routerLink="/admindashboard/updateorder">UPDATE ORDER</a>
    </button>
    <button>
        <a routerLink="/admindashboard/editadmindetails">EDIT ACOUNT</a>
    </button>
</div>



<router-outlet></router-outlet>