

.addtocart{
    background-color: #fb641b;
    border: none;
    width: 180px;
    height: 40px;
    padding: 10px;
}

.buy{
   background-color: #ff9f00;
   border: none;
   width: 180px;
   height: 40px;
   padding: 10px;
}

.buttondiv{
    padding-top: 100px;
}