<app-navbar></app-navbar>


<div class="container-flex" style="padding: 10px;">
    <div class="row">
        <div class="col-md-3">
            <div class="card" style="height: 500px;background-color: white;">
                <div class="card-header">
                    <h5>Filters</h5>
                </div>
                <div class="card-body">
                    <label><b>SORT BY</b> </label> <br>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" (click)="lowtohigh()"
                            id="flexRadioDefault1">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Price - Low To High
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" (click)="hightolow()"
                            id="flexRadioDefault2" checked>
                        <label class="form-check-label" for="flexRadioDefault2">
                            Price - High To Low
                        </label>
                    </div><br>


                    <label><b>FILTER</b> </label> <br>



                </div>

            </div>
        </div>
        <div class="col-md-9">
            <div *ngIf="travel">
                <h3>Function Not Implemented !</h3>
            </div>
            <div class="card" *ngFor="let data of finalProducts "
                style="background-color: rgb(246, 241, 241);margin-bottom: 10px;">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <img src={{data.img}} style="width: 200px;height: 200px;">
                        </div>
                        <div class="col-md-6">
                            <div>
                                <b>{{data.title}}</b>
                            </div>
                            <div>
                                Description : {{data.desc}}
                            </div>
                            <div>
                                Color : {{data.color}}
                            </div>
                            <div>
                                Color : {{data.size}}
                            </div>
                            <!-- quantity selection -->
                            <div>
                                <div class="selctdiv">
                                    <!-- <span class="down" >-</span> -->
                                    <span>Select Quantity</span>
                                    <select (change)="compareChange($event);" style="width: 50px;">
                                        <option value="1" id="">1</option>
                                        <option [value]="item" [id]="item" *ngFor="let item of compare_list">
                                            {{ item }}</option>
                                    </select>
                                    <!-- <input id="quantityselect" style="width: 50px;" type="text" value=""
                                        placeholder="1"> -->
                                    <!-- <span class="up"  >+</span> -->
                                </div>
                            </div>
                            <!-- end quantity -->
                            <div class="buttondiv">
                                <a style="padding: 5px;">
                                    <button (click)="addtocart(data)" class="addtocart"><svg class="_1KOMV2" width="16"
                                            height="16" viewBox="0 0 16 15" xmlns="http://www.w3.org/2000/svg">
                                            <path class=""
                                                d="M15.32 2.405H4.887C3 2.405 2.46.805 2.46.805L2.257.21C2.208.085 2.083 0 1.946 0H.336C.1 0-.064.24.024.46l.644 1.945L3.11 9.767c.047.137.175.23.32.23h8.418l-.493 1.958H3.768l.002.003c-.017 0-.033-.003-.05-.003-1.06 0-1.92.86-1.92 1.92s.86 1.92 1.92 1.92c.99 0 1.805-.75 1.91-1.712l5.55.076c.12.922.91 1.636 1.867 1.636 1.04 0 1.885-.844 1.885-1.885 0-.866-.584-1.593-1.38-1.814l2.423-8.832c.12-.433-.206-.86-.655-.86"
                                                fill="#fff"></path>
                                        </svg>{{addtocarttext}}</button>
                                </a>
                                <a style="padding: 5px;" routerLink="/addtobuy">
                                    <button (click)="buy(data)" class="buy" type="button"><span class="_3iRXzi"></span>
                                        Buy Now</button>
                                </a>
                            </div>

                        </div>
                        <div class="col-md-3">
                            {{data.price}}<span> <b>-INR</b></span>
                            <p>(Including GST)</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>





<ngx-spinner size="medium" [type]="typeSelected">
    <!-- <p style="color: aliceblue;">Do Not Close or Refresh Page!</p> -->
</ngx-spinner>