<div class="container">
    <div class="row">
        <div class="col-md-8">

        </div>
        <div class="col-md-4">
            <div class="card" style="padding: 10px;">
                <table class="table">
                    <thead>
                        <p style="font-size: xx-large;">Order Summary</p>
                        <tr>
                            <th>Product Name</th>
                            <th>Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Shirt</td>
                            <td>120</td>
                        </tr>
                        <tr>
                            <th>Total</th>
                            <td>000</td>
                        </tr>
                        <tr>
                            <button style="width: 120%;background-color: aqua;">Checkout</button>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>  