<div class="container-flex" style="width: auto;">
     <div class="footer-background">
          <h5 style="color: white;text-align: center;">@Copy Right</h5>

          <div class="row" style="padding-top: 10px;">
               <div class="col-md-2">
                    <div class="container">
                         <h6>About</h6>
                         <p class="footerp">About Us</p>
                         <p class="footerp"> Careers</p>
                         <p class="footerp">Flipkart Stories</p>
                         <p class="footerp">Press</p>
                         <p class="footerp">Flipkart Wholesale</p>
                         <p class="footerp">Corporate Information</p>
                    </div>
               </div>
               <div class="col-md-2">
                    <div class="container">
                         <h6>Help</h6>
                         <p class="footerp">Payments</p>
                         <p class="footerp"> Shipping</p>
                         <p class="footerp">Cancellation & Return</p>
                         <p class="footerp">FAQ</p>
                         <p class="footerp">Report</p>
                    </div>
               </div>
               <div class="col-md-2">
                    <div class="container">
                         <h6>POLICY</h6>
                         <p class="footerp">Return Policy</p>
                         <p class="footerp"> Security</p>
                         <p class="footerp">Privacy</p>
                         <p class="footerp">Sitemap</p>
                         <p class="footerp">EPR Compliance</p>
                    </div>
               </div>
               <div class="col-md-2">
                    <div class="container">
                         <h6>SOCIAL</h6>
                         <p class="footerp">Facebook</p>
                         <p class="footerp"> Twitter</p>
                         <p class="footerp">YouTube</p>
                    </div>
               </div>

               <div class="col-md-2">
                    <div class="container">
                         <h6>Mail Us:</h6>
                         <p class="footerp">Flipkart Internet Private Limited, Buildings Alyssa, Begonia &
                              Clove Embassy Tech Village,
                              Outer Ring Road, Devarabeesanahalli Village,
                              Bengaluru, 560103,
                              Karnataka, India</p>
                    </div>
               </div>



               <div class="col-md-2">
                    <div class="container">
                         <h6> Registered Office Address:</h6>
                         <p class="footerp">Flipkart Internet Private Limited,
                              Buildings Alyssa, Begonia &
                              Clove Embassy Tech Village,
                              Outer Ring Road, Devarabeesanahalli Village,
                              Bengaluru, 560103,
                              Karnataka, India
                              CIN : U51109KA2012PTC066107
                              Telephone: 044-45614700</p>
                    </div>
               </div>
          </div>
     </div>




</div>