.footer-background{
    background-color:#172337;
    height: 100%;
    padding-top: 10px;
}


h6{
    color: aliceblue;
    text-align: start;
}

.footerp{
    font-size: x-small;
    color: white;
    text-align: start;
}