<div class="container-flex" style="width: auto;">
    <div class="footer-background">
        <h5 style="color: white;text-align: center;">@Copy Right</h5>
        
    <div class="row" style="padding-top: 10px;">
        <div class="col-md-2">
             <h6>jbded</h6>
        </div>
        <div class="col-md-2">
             <h6>jbded</h6>
        </div>
        <div class="col-md-2">
             <h6>jbded</h6>
        </div>
        <div class="col-md-2">
             <h6>jbded</h6>
        </div>
        <div class="col-md-2">
             <h6>jbded</h6>
        </div>
        <div class="col-md-2">
            <h6>jbded</h6>
       </div>
    </div>
    </div>




</div>
