

.nav-item{
    padding: 19px;
   
}

.headimg{
    height: 50px;
}
.headtitle{
    font-size: small;
}

//carousal css
.carousel-item {
    height: 20vh;
    min-height: 200px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  
  .carousel-control-prev span,
  .carousel-control-next span {
      color:#fff;
  }
  
  .carousel-control-prev span:hover,
  .carousel-control-next span:hover {
      opacity: .7;
      filter: alpha(opacity=70);
  }
//end carousal


.productsallview{
    padding-top: 50px;
}

.img1{
    background-image: url("https://rukminim1.flixcart.com/fk-p-flap/278/278/image/7593e7b6640822c1.jpg?q=90") ;
    height: 100px;
}


.img2{
    background-image: url("https://rukminim1.flixcart.com/fk-p-flap/278/278/image/b84f1c22cce1a6a3.jpg?q=90");
    height: 100px;
}







#main {
    border: 1px solid #c3c3c3;
    display: flex;
    justify-content: center;
  }



















.viewimg{
    width: 130px;
    height: 150px;
    
}








  //carousal

  