

.maincontainer{
    background-image: url("https://i.ytimg.com/vi/oKPV5sIjXF8/maxresdefault.jpg");
    height: 572px;
}

.container{
    display: flex;
    justify-content: center;
    align-self: center;
    padding: 10px;
}