<div class="row" style="height: 50px;background-color: rgb(57, 124, 184);">
    <a routerLink="/products">
        <img style="width: 120px;height: 30px;padding-top: 10px;padding-left: 20px;" src="../../../assets/fklogo.png">
    </a>
</div>

<div class="maincontainer">
    <div class="container">
        <div class="row">
            <div class="card" style="width: 400px;">
                <div>
                    <p style="background-color: antiquewhite;">Only Authorized OR Admin User Allow! this request</p>
                </div>
                <div>
                    <h4 style="text-align: center;color: rgb(92, 92, 161);">Add Products</h4>
                </div>

                <form [formGroup]="adddata" (ngSubmit)="sumbit();reset()">
                    <div  style="margin-top: 5px;">
                        <input type="text" placeholder="Title" class="form-control" formControlName="title">
                    </div>
                    <div  style="margin-top: 5px;">
                        <input type="text" placeholder="Description" class="form-control" formControlName="desc">
                    </div>
                    <div style="margin-top: 5px;">
                        <input type="file" placeholder="Image URL" class="form-control"
                            (change)="onImageChange($event)">
                    </div>
                    <div style="margin-top: 5px;">
                        <select class="form-control" formControlName="categories">
                            <option value="" id="">Select Category</option>
                            <option [value]="item" [id]="item" *ngFor="let item of compare_list">
                                {{ item }}</option>
                        </select>
                    </div>
                    <div style="margin-top: 5px;">
                        <input type="text" placeholder="Size" class="form-control" formControlName="size">
                    </div>
                    <div style="margin-top: 5px;">
                        <input type="text" placeholder="Color" class="form-control" formControlName="color">
                    </div>
                    <div style="margin-top: 5px;">
                        <input type="number" placeholder="Price" class="form-control" formControlName="price">

                    </div>

                    <div style="margin-top: 5px;" style="text-align: center;padding-bottom: 10px;">
                        <button type="submit" class="btn btn-success" style="width: 50%;">Add</button>
                    </div>


                </form>
            </div>
        </div>
    </div>
</div>