<div class="container">

    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-md-6">
                    <h5 style="padding-top: 2px;">Payment Details</h5>
                </div>
                <div class="col-md-6">
                    <span><img src="../../../assets/cardico.jpg" height="30px" width="100%"></span>
                </div>
            </div>

        </div>
        <div class="card-body">
            <div>
                <p>Amount : {{amountpay}}</p>
            </div>
            <div>
                <label>CARD NUMBER</label>
            </div>
            <div>
                <input class="form-control" type="number" placeholder="XXXX XXXX XXXX XXXX" >
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="mt-3">
                        <label>EXPIRATION DATE</label>
                    </div>
                    <div>
                        <input class="form-control" type="tel" placeholder="MM / YYYY">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mt-3">
                        <label>CV CODE</label>
                    </div>
                    <div>
                        <input class="form-control" type="number" placeholder="CVC" min="1" max="999">
                    </div>
                </div>
            </div>

            <div class="mt-3">
                <label>COUPON CODE</label>
            </div>
            <div>
                <input class="form-control" type="text" placeholder="SUWSW28828SH">
            </div>

            <div class="mt-3">
                <button type="button" class="btn btn-success"
                    style="width: 100%;border: none;height: 40px;border-radius: 5px;">Pay Now</button>
            </div>
        </div>
    </div>

</div>