.container {
    display: flex;
    justify-content: center;
    align-items: center;
}


.card {
    width: 350px;
    margin-top: 58px;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    opacity: 0.3;
    /* Firefox */
}




a {
    text-decoration: none !important;
  }






//end spinner