<div class="conteintbackground">
    <div class="container">
        <div class="row">
            <div class="card">
                <div class="card-body" style="width: 400px;">
                    <form action="">
                        <input type="text" placeholder="Enter Username" id="username" required
                            style="width: 100%;border-top: none;border-left: none;border-right: none;padding-top: 40px;outline:none">
                        <input type="text" placeholder="Enter Email" id="email" required
                            style="width: 100%;border-top: none;border-left: none;border-right: none;padding-top: 40px;outline:none">
                        <input type="text" placeholder="Enter Password" id="password" required
                            style="width: 100%;border-top: none;border-left: none;border-right: none;padding-top: 40px;outline:none">
                        <br>
                        <div style="padding-top: 30px;">
                            <button (click)="signup()" type="button"
                                style="background-color: #FB641B;width: 100%;border: none;border-radius: 2px;height: 40px;">
                                <h4 style="padding-top: 4px;color: #ffffff;">SignUp</h4>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>